@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './color';

@mixin whitebutton($button_width){
height: 40px;
background-color:$whitecolor ;
color:$darkcolor ;
border: none;
width:$button_width ;
}
@mixin flexcenter{
display: flex;
align-items: center;
justify-content: center;
}
@mixin desktop{
    @media screen and (min-width: 900px){
    @content;
    }
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body{
max-width:100vw;
min-height: 100vh;
}
header{
width: 100%;
display: flex;
height: 97.7px;
background-color: $whitecolor;
justify-content: space-between;
padding:0 40px 0 40px ;


.left{
display: flex;
align-items: center;
svg{
width: 32px;
height: 28px;
fill:$goldcolor ;
}
h1{
    font-size: 20px;
    font-weight: 500;
}
}
.right_nav{
display: flex;
justify-content: flex-end;
padding: 0 40px 0 40px;
@include desktop{
    display: none;
}
&:hover ul{
    display: flex;
    }
// position: relative;

    svg{
    width: 30px;
    cursor: pointer;
    }
   ul{
   display: none;
   position: absolute;
   top: 97px;
   left:0;
   right:0;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 25px;
   background-color: $whitecolor;

   
   li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;

    &:hover{
    color:$goldcolor ;

    }
   }
   } 
   #open{
  
    
   }

}
.desk_nav{
display: none; 

@include desktop{
    display: flex;
   
}

ul{
display: flex;
list-style: none;
gap: 20px;
font-size: 14px;
font-weight: 400;
color:$darkcolor;
align-items: center;
 li{
    cursor: pointer;

    &:hover{
        color:$goldcolor ;
    }
 }
}

}



}
main{
 .main_background{
background-image: url(https://static.wixstatic.com/media/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg/v1/fill/w_980,h_860,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg);
height: 600px;
background-size: cover;
background-repeat: no-repeat;
background-position: 40%;

@include desktop{
background-attachment: fixed !important;    
}

.overlay{
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.308);
@include desktop{
    align-items: start;
    padding-left: 50px
}

@include flexcenter;
flex-direction: column;
gap: 15px;
h2{
font-size: 28px;
font-weight:600 ;
color:$whitecolor ;
text-align: center;
width: 500px;
@include desktop{
font-size:62px ;
text-align: left;
   
   

}
}
button{
@include whitebutton(173px)
}
}

}



}
